# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

/packagecache/
/.wraplock

# Framework dependencies
/argparse-*/
/asio-*/
/atomic_queue-*/
/Catch2-*/
/cppzmq-*/
/fmt-*/
/libzmq-*/
/magic_enum-*/
/mimalloc-*/
/msgpack-cxx-*/
/spdlog-*/
/tomlplusplus-*/

# Satellite dependencies
/cpr-*/
/curl-*/
/openssl-*/
