# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

/packagecache/

# Framework dependencies
/argparse-*/
/asio-*/
/Catch2-*/
/cppzmq-*/
/katherine/
/libzmq-*/
/magic_enum-*/
/msgpack-cxx-*/
/spdlog-*/
/tomlplusplus-*/

# Satellite dependencies
/katherine/
