# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

/packagecache/
/argparse-*/
/asio-*/
/Catch2-*/
/cppzmq-*/
/libzmq-*/
/magic_enum-*/
/msgpack-cxx-*/
/spdlog-*/
/tomlplusplus-*/
