[Desktop Entry]
Version=1.0
Type=Application

Name=TelemetryConsole
Comment=Telemetry Interface for Constellation
Categories=Science;Physics;
Keywords=Constellation;DAQ;testbeam;

Icon=de.desy.constellation.telemetryconsole
Exec=TelemetryConsole
Terminal=false
