# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 125
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:         '^<Q[^/\.]+>$'
    Priority:      3
    CaseSensitive: true
  - Regex:         '^<[^/\.]+>$'
    Priority:      1
  - Regex:         '^<.+\.h.*>$'
    Priority:      2
  - Regex:         '^"constellation/.+"$'
    Priority:      4
IncludeIsMainSourceRegex: '\.ipp$'
IndentWidth: 4
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left
SortIncludes: CaseInsensitive
SpaceBeforeParens: Never
SpaceBeforeCpp11BracedList: true
...
