# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

Checks:  '-*,
          bugprone-*,-bugprone-easily-swappable-parameters,
          cert-*,
          concurrency-*,
          cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-pointer-arithmetic,
          google-*,-google-build-using-namespace,-google-explicit-constructor,-google-readability-casting,
          hicpp-*,-hicpp-explicit-conversions,
          llvm-*,-llvm-header-guard,-llvm-include-order,
          misc-*,
          modernize-*,-modernize-use-nodiscard,-modernize-use-trailing-return-type,
          performance-*,
          portability-*,
          readability-*,-readability-identifier-length,-readability-function-cognitive-complexity,-readability-magic-numbers,-readability-redundant-access-specifiers,
         '
WarningsAsErrors: '*'
HeaderFilterRegex: '*.h *.hpp *.tpp'
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  modernize-use-override.IgnoreDestructors: 'true'
  cppcoreguidelines-avoid-do-while.IgnoreMacros: 'true'
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassIgnoredRegexp: '^is_.+$'
  readability-identifier-naming.PublicMethodCase: camelBack
  readability-identifier-naming.PublicMethodIgnoredRegexp: '^msgpack_.+$|^to_.+$'
  readability-identifier-naming.ProtectedMethodCase: lower_case
  readability-identifier-naming.PrivateMethodCase: lower_case
  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: '_'
