# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{h,hpp,cpp,ipp,py}]
indent_style = space
indent_size = 4

[meson.build]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.rst]
indent_style = space
indent_size = 3
