# SPDX-FileCopyrightText: 2024 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

[flake8]
max-line-length = 125
max-complexity = 18
select = B,C,E,F,W,T4,B9
ignore = E203, E266, E501, W503, E241
