# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

# NOTE: For editor specific paths use .git/info/exclude

# Build directories
/build*/

# Python virtual environment
/venv/

# Merge conflict original copies
*.orig

# Python cache
__pycache__/
