# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

Simon Spannagel <simon.spannagel@desy.de> Simon Spannagel <simon.spannagel@cern.ch>
Stephan Lachnit <stephan.lachnit@desy.de> Stephan Lachnit <stephanlachnit@debian.org>
Hanno Perrey <hanno.perrey@dvel.se> Hanno Perrey <hanno.perrey@desy.de>
Joel Ekström <joel.ekstrom@dvel.se>
Håkan Wennlöf <hakan.wennlof@desy.de> Håkan Wennlöf <h.wennlof@cern.ch>
Linus Ros <linus.ros@prevas.se> Linus Ros <linus.ros@desy.de>
Rasmus Partzsch <rasmus.partzsch@hotmail.com> rpartzsch <rasmus.partzsch@hotmail.com>
Laurent Forthomme <laurent.forthomme@cern.ch> Laurent Forthomme <lforthomme@protonmail.com>
Annika Simone Vauth <annika.vauth@desy.de> Annika Vauth <a.vauth@yahoo.de>
Aditya Saroha <adityasaroha456@gmail.com> Aditya-138-12 <adityasaroha456@gmail.com>
