# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

Simon Spannagel <simon.spannagel@desy.de>
Stephan Lachnit <stephanlachnit@debian.org> Stephan Lachnit <stephanlachnit@protonmail.com>
