# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

Simon Spannagel <simon.spannagel@desy.de> Simon Spannagel <simon.spannagel@cern.ch>
Stephan Lachnit <stephan.lachnit@desy.de> Stephan Lachnit <stephanlachnit@debian.org>
Hanno Perrey <hanno.perrey@dvel.se> Hanno Perrey <hanno.perrey@desy.de>
Joel Ekström <joel.ekstrom@dvel.se>
Håkan Wennlöf <hakan.wennlof@desy.de> Håkan Wennlöf <h.wennlof@cern.ch>
