# SPDX-FileCopyrightText: 2023 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

filter = cxx/constellation/
exclude = cxx/constellation/gui/
exclude = cxx/constellation/core/external/

merge-lines = yes
exclude-noncode-lines = yes
exclude-unreachable-branches = yes

exclude-lines-by-pattern = (.*)unreachable\(\)(.*)

print-summary = yes

gcov-parallel = 4
