/* SPDX-FileCopyrightText: 2024 DESY and the Constellation authors
/* SPDX-License-Identifier: CC-BY-4.0 */

html[data-theme="light"] {
    --pst-color-primary: #2da8d8ff;
    --pst-color-secondary: #d9514eff;
}

html[data-theme="dark"] {
    --pst-color-primary: #2da8d8ff;
    --pst-color-secondary: #d9514eff;
}

/* -------------------- HOMEPAGE -------------------- */

/* Hero */
#hero {
  display: flex;
  flex-direction: row;
  min-height: min(calc(80vh), 1100px); /* Make hero fill up most of the page on load */
}
#hero-left {
  max-width: 476px;
  width: 40%;
  margin: auto 0;
}
#hero-right {
  min-width: 476px;
  width: 60%;
  margin: auto 0;
}

.homepage-button-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.homepage-button-container-row {
  display: flex;
  flex-wrap: wrap;
}
.homepage-button-container a {
  transition: 0.1s;
}
.homepage-button {
  min-width: 142px;
  padding: 0.5em 2em;
  border: 1px solid var(--pst-color-primary);
  border-radius: 4px;
  margin: 1em 0.5em 0.5em 0;
  text-decoration: none;
}
.primary-button {
  background-color: var(--pst-color-primary);
  color: var(--pst-color-background) !important;
}
.secondary-button {
  background-color: var(--pst-color-background);
  color: var(--pst-color-primary);
}
.homepage-button:hover {
  text-decoration: none;
  background-color: var(--pst-color-secondary);
  color: var(--pst-color-background);
  border: 1px solid var(--pst-color-secondary);
}

/* Key Features */
#key-features .sd-card-body {
  display: flex;
}
#key-features .sd-card img {
  width: 160px;
  height: 160px;
  background-color: transparent;
}
#key-features .sd-card-body .key-features-text {
  min-width: 70%;
  padding: 20px 30px;
}
