/* SPDX-FileCopyrightText: 2024 DESY and the Constellation authors
/* SPDX-License-Identifier: CC-BY-4.0 */

html[data-theme="light"] {
    --pst-color-primary: #2da8d8ff;
    --pst-color-secondary: #d9514eff;
    --pst-color-table-row-hover-bg: #2da8d829;
}

html[data-theme="dark"] {
    --pst-color-primary: #2da8d8ff;
    --pst-color-secondary: #d9514eff;
    --pst-color-table-row-hover-bg: #2da8d829;
}

/* -------------------- HOMEPAGE -------------------- */

/* Hero */
.hero {
  display: flex;
  flex-direction: row;
  min-height: min(calc(60vh), 1100px); /* Make hero fill up most of the page on load */
}

.homepage-button-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.homepage-button-container-row {
  display: flex;
  flex-wrap: wrap;
}
.homepage-button-container a {
  transition: 0.1s;
}
.homepage-button {
  min-width: 142px;
  padding: 0.5em 2em;
  border: 1px solid var(--pst-color-primary);
  border-radius: 4px;
  margin: 1em 0.5em 0.5em 0;
  text-decoration: none;
}
.primary-button {
  background-color: var(--pst-color-primary);
  color: var(--pst-color-background) !important;
}
.secondary-button {
  background-color: var(--pst-color-background);
  color: var(--pst-color-primary);
}
.homepage-button:hover {
  text-decoration: none;
  background-color: var(--pst-color-secondary);
  color: var(--pst-color-background);
  border: 1px solid var(--pst-color-secondary);
}

/* Key Features */
#key-features .sd-card-body {
  display: flex;
}
#key-features .sd-card img {
  width: 160px;
  height: 160px;
  background-color: transparent;
}
#key-features .sd-card-body .key-features-text {
  min-width: 70%;
  padding: 20px 30px;
}

/* ----------------- Sphinx Design --------------------- */

.bd-content .sd-tab-set {
  > input {
    &:checked + label {
      border-style: solid solid none;
      border-color: var(--pst-color-border) var(--pst-color-border) transparent;
      border-width: 1px 1px 0;
      border-radius: 1px 1px 0;
    }
  }
  .sd-tab-content {
    border: 1px solid var(--pst-color-border);
  }
}

/* ----------------- Code Language Labels --------------------- */

/* Base style for language label */
div.highlight::before {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    background-color: var(--pst-color-surface);
    color: var(--pst-color-text-base);
    font-size: 0.75em;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    font-family: sans-serif;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid var(--pst-color-border);
}

/* Hide the language label on hover to make space for the copy button */
div.highlight:hover::before {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Extract language from class name */
div.highlight-abnf > div.highlight::before { content: "ABNF"; }
div.highlight-bibtex > div.highlight::before { content: "BibTeX"; }
div.highlight-cpp > div.highlight::before { content: "C++"; }
div.highlight-javascript > div.highlight::before { content: "JavaScript"; }
div.highlight-json > div.highlight::before { content: "JSON"; }
div.highlight-meson > div.highlight::before { content: "meson"; }
div.highlight-python > div.highlight::before { content: "Python"; }
div.highlight-sh > div.highlight::before { content: "Shell"; }
div.highlight-systemd > div.highlight::before { content: "systemd"; }
div.highlight-toml > div.highlight::before { content: "TOML"; }
div.highlight-xml > div.highlight::before { content: "XML"; }
div.highlight-yaml > div.highlight::before { content: "YAML"; }
